# Scraping Toronto neighborhoods from Wikipedia into pandas df

### Author: Francesco Bellogi

import pandas

In [1]:
import pandas as pd

read into a list of pandas dataframes all the tables present in the wikipedia page

In [3]:
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [4]:
type(table)

list

In [5]:
len(table)

3

I only need the first table

In [50]:
df = table[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

drop observations with Borough="Not assigned"

In [51]:
df = df[df.Borough != 'Not assigned'].reset_index(drop = True)
df.head(10)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5         M9A         Etobicoke                              Islington Avenue
6         M1B       Scarborough                               Malvern / Rouge
7         M3B        North York                                     Don Mills
8         M4B         East York              Parkview Hill / Woodbine Gardens
9         M5B  Downtown Toronto                      Garden District, Ryerson

Neighborhoods with the same postal code were already grouped and combined in the same row separeted by "/" \
In addition there are no "Not assigned" Neighborhoods

In [53]:
df.shape

(103, 3)